*{
    margin: 0;
    padding: 0;
    body{
        font-family: 'IBM Plex Mono', monospace;
        display: flex;
        flex-flow: wrap;
        background-color: #FFFFFF;
        a{
            color: black;
        }
        h1{
            font-family: 'IBM Plex Sans', sans-serif;
            font-weight: 400;
            font-size: 36px;
            color: #060A24;
            letter-spacing: 0;
            line-height: 42px;
        }
        }
    
}
